body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 10px;
}

#move-counter {
    font-size: 18px;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.rod {
    width: 20vw;
    max-width: 150px;
    height: 50vh;
    max-height: 400px;
    background: #d6dce9;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
    border-radius: 3%;
}

.rod::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 70%;
    background: #555;
    transform: translateX(-50%);
}

.disk {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 25%;
    position: relative;
    z-index: 2; /* Diskleri çubukların önüne getirir */
}

.disk.w1 { width: 30%; min-width: 50px; background: red; }
.disk.w2 { width: 45%; min-width: 70px; background: blue; }
.disk.w3 { width: 60%; min-width: 90px; background: green; }
.disk.w4 { width: 75%; min-width: 110px; background: orange; }
.disk.w5 { width: 90%; min-width: 130px; background: purple; }

.disk.selected {
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .game-container {
        justify-content: flex-start;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .rod {
        width: 30vw;
        max-width: 120px;
        height: 40vh;
        max-height: 300px;
    }

    .disk {
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }
}
